doctype html
head
  title KaamYaab India
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  link(href='https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,400,600,700,800,900' rel='stylesheet')
  link(rel='stylesheet' href='css/open-iconic-bootstrap.min.css')
  link(rel='stylesheet' href='css/animate.css')
  link(rel='stylesheet' href='css/owl.carousel.min.css')
  link(rel='stylesheet' href='css/owl.theme.default.min.css')
  link(rel='stylesheet' href='css/magnific-popup.css')
  link(rel='stylesheet' href='css/aos.css')
  link(rel='stylesheet' href='css/ionicons.min.css')
  link(rel='stylesheet' href='css/bootstrap-datepicker.css')
  link(rel='stylesheet' href='css/jquery.timepicker.css')
  link(rel='stylesheet' href='css/flaticon.css')
  link(rel='stylesheet' href='css/icomoon.css')
  link(rel='stylesheet' href='css/style.css')
  link(rel='stylesheet' href='css/bootstrap/bootstrap.min.css')
nav#ftco-navbar.navbar.navbar-expand-lg.navbar-dark.ftco_navbar.bg-dark.ftco-navbar-light
  .container
    a.navbar-brand(href='/home')
      img(src='images/icon.jpeg' alt='Img' width='40' height='40' style='margin-left:0px')
      |   KaamYaab India
    button.navbar-toggler(type='button' data-toggle='collapse' data-target='#ftco-nav' aria-controls='ftco-nav' aria-expanded='false' aria-label='Toggle navigation')
      span.oi.oi-menu
      |  Menu
    #ftco-nav.collapse.navbar-collapse
      ul.navbar-nav.ml-auto
        li.nav-item.active
          a.nav-link(href='/home') Home
        li.nav-item
          a.nav-link(href='/about') About
        li.nav-item
          a.nav-link(href='/training') Trainings
        li.nav-item
          a.nav-link(href='/blog') Finance
        li.nav-item
          a.nav-link(href='/contact') Contact
        li.nav-item
          a#naukri.nav-link(href='/scraping') External Jobs
        li.nav-item.cta.mr-md-1
          a#rclogin.nav-link(href='/loginpage') Login
        li.nav-item.cta.mr-md-1
          a#postjb.nav-link(href='/jobpostpage' style='display:none;') Post Job
        li.nav-item
          a#logusername.nav-link(href='#' style='display:none;') #{usernm}
        li.nav-item
          a#logout.nav-link(href='/logout' style='display:none;') Logout
        li.nav-item.cta.mr-md-1
          a#ivr.nav-link(href='/ivr') &#x92A;&#x902;&#x91C;&#x940;&#x915;&#x930;&#x923;
// END nav
.hero-wrap.js-fullheight(style="background-image: url('images/new2.jpg');" data-stellar-background-ratio='0.5')
  .overlay
  .container
    .row.no-gutters.slider-text.js-fullheight.align-items-center.justify-content-start(data-scrollax-parent='true')
      .col-xl-10.ftco-animate.mb-5.pb-5(data-scrollax=" properties: { translateY: '70%' }")
        p.mb-4.mt-5.pt-5(data-scrollax="properties: { translateY: '30%', opacity: 1.6 }")
          | We have
          span.number(data-number='8500') 0
          |  great job offers you deserve!
        h1.mb-5(data-scrollax="properties: { translateY: '30%', opacity: 1.6 }")
          | &#x938;&#x936;&#x915;&#x94D;&#x924; &#x92D;&#x93E;&#x930;&#x924; &#x915;&#x93E;&#x930;&#x94D;&#x92F;&#x930;&#x924; &#x92D;&#x93E;&#x930;&#x924;
          br
          span Find your jobs here..
        .ftco-search
          .row
            .col-md-12.nav-link-wrap
              #v-pills-tab.nav.nav-pills.text-center(role='tablist' aria-orientation='vertical')
                a#v-pills-1-tab.nav-link.active.mr-md-1(data-toggle='pill' href='#v-pills-1' role='tab' aria-controls='v-pills-1' aria-selected='true') Find a Job
                a#v-pills-2-tab.nav-link(data-toggle='pill' href='#v-pills-2' role='tab' aria-controls='v-pills-2' aria-selected='false') Find a Candidate
            .col-md-12.tab-wrap
              #v-pills-tabContent.tab-content.p-4
                #v-pills-1.tab-pane.fade.show.active(role='tabpanel' aria-labelledby='v-pills-nextgen-tab')
                  form.search-job(action='#')
                    .row
                      .col-md
                        .form-group
                          .form-field
                            .icon
                              span.icon-briefcase
                            input.form-control(type='text' placeholder='eg. Garphic. Web Developer')
                      .col-md
                        .form-group
                          .form-field
                            .select-wrap
                              .icon
                                span.ion-ios-arrow-down
                              select#t1.form-control(name='')
                                option(value='') Category
                                option(value='') Full Time
                                option(value='') Part Time
                                option(value='') Freelance
                                option(value='') Internship
                                option(value='') Temporary
                      .col-md
                        .form-group
                          .form-field
                            .icon
                              span.icon-map-marker
                            input.form-control(type='text' placeholder='Location')
                      .col-md
                        .form-group
                          .form-field
                            input.form-control.btn.btn-primary(type='submit' value='Search')
                #v-pills-2.tab-pane.fade(role='tabpanel' aria-labelledby='v-pills-performance-tab')
                  form.search-job(action='#')
                    .row
                      .col-md
                        .form-group
                          .form-field
                            .icon
                              span.icon-user
                            input.form-control(type='text' placeholder='eg. Adam Scott')
                      .col-md
                        .form-group
                          .form-field
                            .select-wrap
                              .icon
                                span.ion-ios-arrow-down
                              select#t2.form-control(name='')
                                option(value='') Category
                                option(value='') Full Time
                                option(value='') Part Time
                                option(value='') Freelance
                                option(value='') Internship
                                option(value='') Temporary
                      .col-md
                        .form-group
                          .form-field
                            .icon
                              span.icon-map-marker
                            input.form-control(type='text' placeholder='Location')
                      .col-md
                        .form-group
                          .form-field
                            input.form-control.btn.btn-primary(type='submit' value='Search')
section.ftco-section.services-section.bg-light
  .container
    .row.d-flex
      .col-md-3.d-flex.align-self-stretch.ftco-animate
        .media.block-6.services.d-block
          .icon
            span.flaticon-resume
          .media-body
            h3.heading.mb-3 Allowing Job Seekers to search jobs for their Skills
            p
              | Find jobs suitable for your skills, experience and location and restart your journey of employment
      .col-md-3.d-flex.align-self-stretch.ftco-animate
        .media.block-6.services.d-block
          .icon
            span.flaticon-collaboration
          .media-body
            h3.heading.mb-3 Allowing Job Providers to find suitable candidate for Job
            p
              | Match your job requirements with registered candidated and help build the society back up during crisis
      .col-md-3.d-flex.align-self-stretch.ftco-animate
        .media.block-6.services.d-block
          .icon
            span.flaticon-promotions
          .media-body
            h3.heading.mb-3 Virtual Trainings
            p
              | Self Empower yourself by free learning videos and tutorials of various skills and techniques
      .col-md-3.d-flex.align-self-stretch.ftco-animate
        .media.block-6.services.d-block
          .icon
            span.flaticon-employee
          .media-body
            h3.heading.mb-3 Financial Options
            p
              | Know your financial help options. Find all details of government and private programs and aids available for your disposal.
section.ftco-section.ftco-counter
  .container
    .row.justify-content-center.mb-5.pb-3
      .col-md-7.heading-section.text-center.ftco-animate
        span.subheading Categories work wating for you
        h2.mb-4
          span Current
          |  Job Posts
    .row
      .col-md-3.ftco-animate
        ul.category
          li
            a(href='#')
              | House Helps
              span.number(data-number='100') 0
          li
            a(href='#')
              | Cooks
              span.number(data-number='100') 0
          li
            a(href='#')
              | Baby Sitters
              span.number(data-number='200') 0
          li
            a(href='#')
              | Gardeners
              span.number(data-number='200') 0
      .col-md-3.ftco-animate
        ul.category
          li
            a(href='#')
              | Plumbers
              span.number(data-number='100') 0
          li
            a(href='#')
              | Carpenters
              span.number(data-number='150') 0
          li
            a(href='#')
              | Masons
              span.number(data-number='100') 0
          li
            a(href='#')
              | Security Guards
              span.number(data-number='250') 0
      .col-md-3.ftco-animate
        ul.category
          li
            a(href='#')
              | Delivery Person
              span.number(data-number='550') 0
          li
            a(href='#')
              | Beauticians
              span.number(data-number='200') 0
          li
            a(href='#')
              | Cashiers
              span.number(data-number='80') 0
          li
            a(href='#')
              | Maintenance Staff
              span.number(data-number='70') 0
      .col-md-3.ftco-animate
        ul.category
          li
            a(href='#')
              | Construction Workers
              span
                span.number(data-number='800') 0
          li
            a(href='#')
              | Electricians
              span.number(data-number='400') 0
          li
            a(href='#')
              | Cleaners
              span.number(data-number='330') 0
          li
            a(href='#')
              | Painters
              span.number(data-number='156') 0
section.ftco-section.bg-light
  .container
    .row.justify-content-center.mb-5.pb-3.ftco-animate
      h2.mb-4
        span Recent
        |  Jobs
    #recentjobs.row
     for item in rows
      .col-md-12.ftco-animate
        .job-post-item.bg-white.p-4.d-block.d-md-flex.align-items-center
          .mb-4.mb-md-0.mr-5
            .job-post-item-header.d-flex.align-items-center
              h2.mr-3.text-black.h3 #{item.compname}
              .badge-wrap
                span.bg-primary.text-white.badge.py-2.px-3 #{item.pref}
            .job-post-item-body.d-block.d-md-flex
              .mr-3
                span.icon-layers
                a(href='#') #{item.desc}
              div
                span.icon-my_location
                span #{item.city}, #{item.state}
          .ml-auto.d-flex
            a.btn.btn-primary.py-2.mr-1(href=`/applyjob/:${item.jobid}`) View Applications
            a.btn.btn-secondary.rounded-circle.btn-favorite.d-flex.align-items-center.icon(href='#')
              span.icon-heart
      // end
    .row.mt-5
      .col.text-center
        .block-27
          ul
            li
              a(href='#') &lt;
            li.active
              span 1
            li
              a(href='#') 2
            li
              a(href='#') 3
            li
              a(href='#') &gt;
section#section-counter.ftco-section.ftco-counter.img(style='background-image: url(images/bg_1.jpg);' data-stellar-background-ratio='0.5')
section#section-counter.ftco-section.ftco-counter.img(style='background-image: url(images/images.png);' data-stellar-background-ratio='0.5')
  .container
    .row.justify-content-center
      .col-md-10
        .row
          .col-md-3.d-flex.justify-content-center.counter-wrap.ftco-animate
            .block-18.text-center
              .text
                strong.number(data-number='1300') 0
                span Jobs
          .col-md-3.d-flex.justify-content-center.counter-wrap.ftco-animate
            .block-18.text-center
              .text
                strong.number(data-number='40000') 0
                span Members
          .col-md-3.d-flex.justify-content-center.counter-wrap.ftco-animate
            .block-18.text-center
              .text
                strong.number(data-number='10500') 0
                span Companies
.row
  .col-md-12.text-center
    p
      // Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.
      | Copyright &copy;
      script.
        document.write(new Date().getFullYear());
      |  All rights reserved | This template is made with
      i.icon-heart.text-danger(aria-hidden='true')
      |  by
      a(href='https://colorlib.com' target='_blank') Colorlib
      // Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.
// loader
#ftco-loader.show.fullscreen
  svg.circular(width='48px' height='48px')
    circle.path-bg(cx='24' cy='24' r='22' fill='none' stroke-width='4' stroke='#eeeeee')
    circle.path(cx='24' cy='24' r='22' fill='none' stroke-width='4' stroke-miterlimit='10' stroke='#F96D00')
script(src='js/jquery.min.js')
script(src='js/jquery-migrate-3.0.1.min.js')
script(src='js/popper.min.js')
script(src='js/bootstrap.min.js')
script(src='js/jquery.easing.1.3.js')
script(src='js/jquery.waypoints.min.js')
script(src='js/jquery.stellar.min.js')
script(src='js/owl.carousel.min.js')
script(src='js/jquery.magnific-popup.min.js')
script(src='js/aos.js')
script(src='js/jquery.animateNumber.min.js')
script(src='js/bootstrap-datepicker.js')
script(src='js/scrollax.min.js')
script(src='js/main.js')
script(src='js/bootstrap-show-modal.js')
script(type='text/javascript').
  var isLoggedIn=#{loggedIn};
  $( document ).ready(function() {
  isLoggedIn=#{loggedIn};
  if(isLoggedIn>0){
  document.getElementById("rclogin").style.display = "none";
  document.getElementById("logusername").style.display = "block";
  document.getElementById("logout").style.display = "block";
  document.getElementById("logusername").innerText = "#{usernm}";
  document.getElementById("ivr").style.display = "none";
  if(isLoggedIn==2){
  document.getElementById("postjb").style.display = "block";
  }
  }
  else{
  document.getElementById("rclogin").style.display = "block";
  document.getElementById("logusername").style.display = "none";
  document.getElementById("logout").style.display = "none";
  document.getElementById("postjb").style.display = "none";
  document.getElementById("ivr").style.display = "block";
  }
  });
